#header-section{
    background-color: darkslategrey;
    color: white;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
}

#header-section h1{
    font-size: 100px;
    margin-bottom: 2%;
}

#header-section h2{
    font-size: 50px;
    margin-bottom: 10%;
}

#header-section p{
    font-size: 30px;
    margin: 10%;
}

.remove-button{
    margin: 0.2%;
}

#w3-to-do-list{
    position: absolute;
}

#list-section{
    background-color: darkgray;
    width: 100%;
    left: 0;
    top: 70vh;
    height: 30vh;
    position: absolute;
    padding-left: 2%;
}

#list-section h3{
    color: darkblue;
    width: 120%;
}

#input-list{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.span-button{
    margin-left: 5%;
    padding: 1%;
    width: 10%;
    color: aliceblue;
    background: darkblue;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.span-button:hover{
    background-color: rgb(190, 13, 13);
}

#ideas-to-check{
    margin-right: 5%;
}

#questions-to-ask{
    margin-left: 5%;
}

@media screen and (max-width: 1000px) {
    #input-list{
        display: block;
    }

    #ideas-to-check{
        margin-bottom: 5%;
    }
    
    #questions-to-ask{
        margin-left: 0%;
    }
}

.close{
    padding: 0.5%;
    margin-right: 2%;
    transition: 0.1s;
}

.close:hover {
    background-color: #f44336;
    display: inline;
    color: white;
    cursor: pointer;
  }

  .bullet-item-list{
    list-style-type: none;
    font-size: 20px;
  }